<!--
 =========================================================
 * Blk• Design System Pro - v1.0.0
 =========================================================
 * Product Page: https://www.creative-tim.com/product/blk-design-system-pro
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)

 * Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->
{% extends 'base.html'%} {% load static %} {% block content%}
<div class="wrapper">
  <div class="page-header">
    <img src="{% static 'assets/img/dots.png'%}" class="dots">
    <img src="{% static 'assets/img/path4.png'%}" class="path">
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-4">
          <h1 class="profile-title text-left">Michelle Obama</h1>
          <h5 class="text-on-back">01</h5>
          <p class="profile-description">Offices parties lasting outward nothing age few resolve. Impression to discretion understood to we interested he excellence. Him remarkably use projection collecting. Going about eat forty world has round miles.</p>
          <div class="btn-wrapper profile pt-3">
            <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-icon btn-twitter btn-round" data-toggle="tooltip" data-original-title="Follow us">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-icon btn-facebook btn-round" data-toggle="tooltip" data-original-title="Like us">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-icon btn-dribbble  btn-round" data-toggle="tooltip" data-original-title="Follow us">
              <i class="fab fa-dribbble"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img src="{% static 'assets/img/mike.jpg'%}" class="img-center img-fluid rounded-circle">
              <h4 class="title">Your Username</h4>
            </div>
            <div class="card-body">
              <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#linka">
                    Hoted Potlucks
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#linkb">
                    Attended Potlucks
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#linkc">
                    Reviews
                  </a>
                </li>
              </ul>
              <div class="tab-content tab-subcategories">
                <div class="tab-pane active" id="linka">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="plain-table">
                      <thead class=" text-primary">
                        <tr>
                          <th class="header">
                            Name
                          </th>
                          <th class="header">
                            Date
                          </th>
                          <th class="header">
                            Attendees
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for event in events %}
                        <tr>
                          <td>
                            {{event.name }}
                          </td>
                          <td>
                            {{event.start}}
                          </td>
                          <td>
                            {{event.attendees}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="linkb">
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Pay to</label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="e.g. 1Nasd92348hU984353hfid">
                        <span class="form-text">Please enter a valid address.</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Amount</label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="1.587">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-simple btn-primary btn-icon btn-round float-right"><i class="tim-icons icon-send"></i></button>
                </div>
                <div class="tab-pane" id="linkc">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="plain-table">
                      <thead class=" text-primary">
                        <tr>
                          <th class="header">
                            Latest Crypto News
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            The Daily: Nexo to Pay on Stable...
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Venezuela Begins Public of Nation...
                          </td>
                        </tr>
                        <tr>
                          <td>
                            PR: BitCanna – Dutch Blockchain...
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 ml-auto">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Your Information</h1>
              <h5 class="text-on-back">02</h5>
            </div>
            <div class="card-body">
              <form action="" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Your Name</label>
                      <input type="text" class="form-control" value="Mike">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email address</label>
                      <input type="email" class="form-control" placeholder="mike@email.com">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" class="form-control" value="001-12321345">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Company</label>
                      <input type="text" class="form-control" value="CreativeTim">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Message</label>
                      <input type="text" class="form-control" placeholder="Hello there!">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-round float-right" rel="tooltip" data-original-title="Can't wait for your message" data-placement="right">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
